<div class="container mx-auto p-4" *ngIf="isAdmin">
  <h1 class="text-2xl font-bold mb-4">{{ 'ADMIN_PANEL.TITLE' | translate }}</h1>



  <div *ngIf="usersResponse$ | async as usersResponse">
    <div class="mb-4">
      <input type="text" [placeholder]="'ADMIN_PANEL.SEARCH_PLACEHOLDER' | translate" class="p-2 border rounded w-full">
    </div>

    <div class="overflow-x-auto">
      <table class="min-w-full bg-white">
        <thead class="bg-gray-800 text-white">
          <tr>
            <th class="w-1/6 py-2 px-4 text-left">{{ 'ADMIN_PANEL.TABLE.ID' | translate }}</th>
            <th class="w-1/4 py-2 px-4 text-left">{{ 'ADMIN_PANEL.TABLE.NAME' | translate }}</th>
            <th class="w-1/4 py-2 px-4 text-left">{{ 'ADMIN_PANEL.TABLE.EMAIL' | translate }}</th>
            <th class="w-1/6 py-2 px-4 text-left">{{ 'ADMIN_PANEL.TABLE.ADMIN' | translate }}</th>
            <th class="w-1/6 py-2 px-4 text-left">{{ 'ADMIN_PANEL.TABLE.ACTIONS' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usersResponse.users" class="border-b">
            <td class="py-2 px-4">{{ user.id }}</td>
            <td class="py-2 px-4">{{ user.name }}</td>
            <td class="py-2 px-4">{{ user.email }}</td>
            <td class="py-2 px-4">{{ user.is_admin ? ('ADMIN_PANEL.TABLE.YES' | translate) : ('ADMIN_PANEL.TABLE.NO' |
              translate) }}</td>
            <td class="py-2 px-4">
              <button (click)="banUser(user.id)"
                class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                {{ 'ADMIN_PANEL.TABLE.BAN' | translate }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mt-4 flex justify-between items-center">
      <p>{{ 'ADMIN_PANEL.PAGINATION.PAGE_OF' | translate: { page: usersResponse.page, pages: usersResponse.pages } }}
      </p>
      <div class="flex">
        <button [disabled]="usersResponse.page <= 1"
          class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l">
          {{ 'ADMIN_PANEL.PAGINATION.PREV' | translate }}
        </button>
        <button [disabled]="usersResponse.page >= usersResponse.pages"
          class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r">
          {{ 'ADMIN_PANEL.PAGINATION.NEXT' | translate }}
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="!(usersResponse$ | async)">
    <p>{{ 'ADMIN_PANEL.LOADING' | translate }}</p>
  </div>




</div>
<div *ngIf="!isAdmin">
  <p>{{ 'ADMIN_PANEL.UNAUTHORIZED' | translate }}</p>
</div>